.info{
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoInput{
  width:300px;
  height:30px;
  margin-bottom: 0px;
  border-radius: 5px;
  border: #cccccc 1px solid;
}
.Q{
  margin:20px 0px;
}
button {
  width: 130px;
  height: 42px;
  border: 2px solid rgb(102, 102, 102);
  border-radius: 25px;
  background:  rgba(120, 180, 255, 0.25);
  margin-bottom: 50px;
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-family: 'LXGW WenKai TC', monospace;
  letter-spacing: 1px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  border: 2px solid rgba(255, 255, 255, 0.916);
  background:  #88c0ff;
  color: rgba(255, 255, 255, 0.916);
  transform: scale(1.1);
}
button:active {
  transform: scale(0.98);
}

.question-list{
  width:100%;
}

.question-list li {
  margin-bottom: 10px;
  list-style: none;
  position: relative;
  padding-left: 40px; /* 左邊空間依圖片大小調整 */
  counter-increment: q;
}

.question-list li.show::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 2px;
  width: 20px;          /* 圖片大小 */
  height: 20px;
  background-image: url('https://png.pngtree.com/png-clipart/20250108/original/pngtree-cute-cartoon-golden-star-clipart-illustration-png-image_19854636.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* 編號（1. 2. 3.）放在圖片後面 */
.question-list li::after {
  content: counter(q) ". ";
  position: absolute;
  left: 25px;           /* 圖片寬度稍後 */
  top: 0;
  font-weight: bold;
}

