<div style="position: fixed;pointer-events: none;inset: 0;
            min-height: 100%;width: 100%;background-color: #4c4c4ce1;
            font-size: 20px; z-index: -1;"></div>
<div style="width:100%;height:100%; display: grid;place-items: center;
            top:0; left: 0;font-size: 20px;">
  <div style="display: flex;flex-direction: column;width:1000px;height:fit-content;border-radius: 15px;
              justify-content: center;align-items: center;">
    <div style="position:relative;z-index: 10;width: 80vw;height:80vh;">
      <div class="tabs">
        <button class="tab-btn" [class.active]="activeTab==='tab1'" (click)="onTabChange('tab1')">問卷回饋</button>
        <button class="tab-btn" [class.active]="activeTab==='tab2'" (click)="onTabChange('tab2')">統計</button>
      </div>
      @if (activeTab === 'tab1') {
        @if(fillinUser){
          <div #userRecArea class="userRec-section">
            <label style="width:100%;">
              <p style="margin-left:50px;color: #fff8e4; font-weight: 500;">填寫紀錄</p>
            </label>
            <table style="width:100%; border-spacing: 0px;overflow: hidden;border-radius: 15px;
                      border-style: none; border-radius: 10px;">
              <thead style="background-color: #fff8e4; text-align: center;">
                <th style="width:33%;padding: 8px;">姓名</th>
                <th style="width:33%;padding: 8px;">填寫時間</th>
              </thead>
              <tbody style="text-align: center;background-color: #ffeec1">
                @for(user of fillinUser;track $index){
                  <tr (click)="lookAns(user.email)" style="cursor: pointer;" class="btn">
                    <td>{{user.name}}</td>
                    <td>{{user.fillinDate}}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
        @if(showAns){
          <div #showAnsArea class="showAns-section">
            <label style="width:100%;">
              <h4 style="margin-left:50px;color: #fff8e4;;">問卷回饋</h4>
            </label>
            <div style="position: relative;z-index: 10;width:100%;border-radius: 15px;
                        height:fit-content;background-color: #ffeec1;
                        display: flex;flex-direction: column;
                        justify-content: center;align-items: center;">
              <label style="width: 100%;">
                <p style="margin-left: 60%;margin-top: 50px;font-size: 20px;">
                  {{quiz?.startDate}}~{{quiz?.endDate}}</p>
              </label>
              <h1 style="justify-content: center;">{{quiz?.title}}</h1>
              <p style="margin:30px 100px;">{{quiz?.description}}</p>

              <div style="justify-content: center;align-items: center;
                          width:700px;">
                <!-- <div style="display: flex;flex-direction: column;justify-content: baseline;
                            align-items: baseline;margin-left: 100px;">
                  <label class="info">姓名 ：</label><br>
                  <label class="info">手機 ：</label><br>
                  <label class="info">Email：</label><br>
                  <label class="info">年齡 ：</label><br>
                </div> -->
                <div style="display: flex;flex-direction: column;justify-content: center;
                            align-items: center;">
                  <table class="info">
                    <tr>
                      <td>姓名 ：{{showAns.name}}</td>
                      <td>手機 ：{{showAns.phone}}</td>
                    </tr>
                    <tr>
                      <td>Email：{{showAns.email}}</td>
                      <td>年齡 ：{{showAns.age}}</td>
                    </tr>
                  </table>
                </div>
                <div style="display: flex; flex-direction: column;justify-content: center;
                  align-items: center;width:100%;">
                  <ol>
                    @for(item of question;track $index){
                      @for(ans of showAns.answers;track $index){
                        @if(ans.questionId==item.questionId){
                          <li>
                            <tr>
                              <td class="record" style="word-wrap: break-word; overflow-wrap: break-word;">{{item.question}}</td>
                              <td class="record" style="word-wrap: break-word; overflow-wrap: break-word;">
                                <span style="width:350px;height:fit-content;word-break: break-all; overflow-wrap: break-word;">
                                  @if(item.type=="single" || item.type=="multiple"){
                                    @for(choice of item.optionsList;track $index){
                                      @for(opt of ans.answerVoList;track $index){
                                        @if(opt.code==choice.code){
                                          <span class="A">{{choice?.optionName}}　</span>
                                        }
                                      }
                                    }
                                  }
                                  @else if (item.type=="text") {
                                      <span class="A">{{ans.answerVoList[0]?.optionName}}</span>
                                  }
                                </span>
                              </td>
                            </tr>
                          </li>
                        }
                      }
                    }
                  </ol>
                </div>
                <!-- <div style="display: flex; flex-direction: column;justify-content: center;
                            align-items: center;">
                  <ol>
                    @for(item of question;track $index){
                      <li>{{item.question}}</li>
                      @for(ans of showAns.answers;track $index){
                        @if(item.questionId==ans.questionId){
                          @for(optionName of ans.answerVoList;track $index){
                            <p>{{optionName.optionName}}</p>
                          }
                        }
                      }
                    }
                  </ol>
                </div> -->
              </div>
            </div>
          </div>
        }
      } @else {
        <div style="margin-bottom: 5%;">
          <div style="display: flex;flex-direction: column;
                      top:0; left: 0; width: 100%;  height: 100%;
                      align-items: center;font-size: larger;">
            <div style="width:1000px;height:fit-content;border-radius: 15px;display: flex;flex-direction: column;
                        background-color: #ffeec1; position: relative;z-index: 10;margin:125px;">
              <div style="display: flex;flex-direction: column;align-items: center;">
                <label style="width:100%;margin-top:5%;display:flex;flex-direction: row;justify-content: space-between;padding:10px;">
                  <span style="margin-left: 5%;">填表人數：{{total}}</span>
                  <span style="margin-right:5%">開放期間：{{quiz?.startDate}}~{{quiz?.endDate}}</span>
                </label>
                <h1>{{quiz?.title}}</h1>
                <p style="margin:30px 100px;">{{quiz?.description}}</p>
              </div>
              <div style="width: 100%;height:fit-content;margin-bottom: 10%;">
                <ol style="display: flex; flex-direction:column;justify-content: center;padding:0px;margin:10px;">
                    @for(item of question; track $index){
                      <div style="display: flex; flex-direction: column;
                                  justify-content: center; align-items: center;
                                  width: 100%;">
                        <div style="padding-right: 40%;">
                          @if(item.type == "multiple"){
                            <li>{{ item.question }}</li>
                            <p style="font-size: 18px;">(複選題,人數可能會重疊)</p>
                          }@else{
                            <li>{{ item.question }}</li>
                          }
                        </div>
                        @if(item.type == "single" || item.type == "multiple"){
                          <div style="width: 100%;height:500px;display: flex;justify-content: center;">
                            @if(total==0){
                              <p style="height:fit-content; position:relative; top:45%; margin: 0px;">暫無資料</p>
                            }@else {
                              <canvas style="margin-left: 150px;width:60%;" id="chart-{{ item.questionId }}"></canvas>
                            }
                          </div>
                        }@else{
                          <label style="background-color: #fff8e4;
                                        width:70%;height:50px;margin-top:5%;
                                        border-radius: 10px 10px 0px 0px;
                                        display: flex; justify-content: center; align-items: center;">
                              <p>回應</p>
                          </label>
                          <div class="scroll-container" style="margin-top:0;">
                            <table style="width: 100%; border-spacing: 0; border-collapse: collapse;
                                          word-break: break-all; overflow-wrap: break-word;">
                              @if(total==0){
                                <p style="text-align: center;">暫無回應</p>
                              }@else {
                                @for(string of this.text; track $index){
                                  <tr>
                                    <td style="display: flex; flex-direction: column; margin:5px 0px;
                                              justify-content: center; align-items: center; border-bottom: 1px solid lightgrey;">
                                      {{ string }}
                                    </td>
                                  </tr>
                                }
                              }
                            </table>
                          </div>
                        }
                      </div>
                    }
                </ol>
              </div>
            </div>
          </div>
        </div>

      }
    </div>
  </div>
</div>
