button {
  width: 130px;
  height: 42px;
  border: 2px solid rgb(102, 102, 102);
  border-radius: 25px;
  background:  rgba(120, 180, 255, 0.25);
  margin-bottom: 50px;
  color: rgb(102, 102, 102);
  font-size: 18px;
  font-family: 'LXGW WenKai TC', monospace;
  letter-spacing: 1px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.25s ease;
}
button:hover {
  border: 2px solid rgba(255, 255, 255, 0.916);
  background:  #88c0ff;
  color: rgba(255, 255, 255, 0.916);
  transform: scale(1.1);
}
button:active {
  transform: scale(0.98);
}


.scroll-container {
  margin-top: 15px;
  width: 70%;
  height: 500px;
  border: none;
  border-radius: 10px;
  overflow-y: auto;
}
/* 滾動條 */
.scroll-container::-webkit-scrollbar {
  width: 10px;        /* 垂直滾動條寬度 */
}
/* 滾動條軌道 */
.scroll-container::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.05);
  border-radius: 5px;
}
/* 滾動條滑塊 */
.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.1);
}
/* 滑塊懸停效果 */
.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,0.5);
}
