
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */





@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap');

html, body {
  height: auto;
  width:auto;
  color: rgb(83, 83, 83);
}
body {
  margin: 0;
  background-image:url('/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'LXGW WenKai TC', monospace;
  font-size: large;
  font-weight: 300;
  // overflow: hidden;
}


